$main-font-stack: 'Montserrat';
$main-font-stack-secondary: 'Roboto';
$main-font: 'Kaushan Script', cursive;
$transformation: uppercase;
$decorations: none;
$liststyles: none;
$textalign: center;
$primary-white-color: #ffffff;
$primary-bg-color: #fce38a;
$background-color-three: #e5e5e5;
$background-color-primary: #f38181;
$fontweight: bold;




